<a href="https://colab.research.google.com/github/manvendra7/CodegnanWebscraping/blob/main/Webscraping_NewNb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import time
from IPython.display import clear_output
base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

In [ ]:
def get_seller_info(soup):
  
  ''' Function for scraping seller information
  Arguments :
    soup - soup object from beautifulsoup
  Returns :
    s_info -  seller info
  '''
  s_inf = soup.find_all('span',attrs={'class' : 'seller-type'})
  s_info = [s.text for s in s_inf]
  return s_info

def get_bhk(soup):
  bhk_l = soup.find_all('a',attrs={'data-type' : 'listing-link'})
  bhk = [x.span.text.strip() for x in bhk_l]
  return bhk

def get_price(soup):
  prc_l = soup.find_all('div',attrs={'data-type' : 'price-link'})
  price = [i.text for i in prc_l]
  return price

def get_locality(soup):
  loc = soup.find_all('span',attrs={'itemprop':'addressLocality'})
  locality = [i.text for i in loc]
  return locality

def get_area_sqft(soup):
  a = soup.find_all('td',attrs={'class':'lbl rate'})
  area_sqft = [i.text for i in a]
  return area_sqft

def get_area(soup):
  ar = soup.find_all('td',attrs={'class':'size'})
  area = [i.text for i in ar]
  return area

def get_construction_status(soup):
  st = soup.find_all('td',attrs={'class':'val'})
  status = [i.text for i in st]
  return status

def get_no_bathrooms(soup):
  bh = soup.find_all('ul',attrs={'class':'listing-details'})
  b_rooms = []
  for j in bh:
    try:
      b_rooms.append(j.li.text.split(' ')[0])
    except AttributeError:
      b_rooms.append('None') 
  return b_rooms

In [ ]:
def scrapedata(url,num_pages):

  global base_url

  sel_info = []
  no_bhk= []
  price = []
  area = []
  locality = []
  area_sqft = []
  status = []
  bathrooms = []

  for i in range(1,num_pages):

    time.sleep(3)
    print(f'Page No : {i}')
    clear_output(wait=True)

    url = base_url + str(i)
    request = requests.get(url)
    soup = BeautifulSoup(request.content,'html')

    seller_info = get_seller_info(soup)
    for i in seller_info:
      sel_info.append(i)
     

    bhk =get_bhk(soup)
    for i in bhk:
      no_bhk.append(i)

    prc = get_price(soup)
    for i in prc:
      price.append(i)

    ara = get_area(soup)
    for i in ara:
      area.append(i)

    ar_sqft = get_area_sqft(soup)
    for i in ar_sqft:
      area_sqft.append(i)

    loc = get_locality(soup)
    for i in loc:
      locality.append(i)

    bathrms = get_no_bathrooms(soup)
    for i in bathrms:
      bathrooms.append(i)

    sts = get_construction_status(soup)
    for i in sts:
      status.append(i)

  return sel_info,no_bhk,price,area,locality,area_sqft,bathrooms,status

In [ ]:
sel_info,no_bhk,price,area,locality,area_sqft,bathrooms,status = scrapedata(base_url,20)

Page No : 19

In [ ]:
import pandas as pd
data = pd.DataFrame({'sel_info' : sel_info,
                     'no_bhk' : no_bhk,
                     'price' : price,
                     'area' : area,
                     'locality' : locality,
                     'area_sqft' : area_sqft,
                     'bathrooms' : bathrooms,
                     'status' : status
                     })

In [ ]:
data

    sel_info no_bhk     price  ...      area_sqft   bathrooms              status
0      OWNER      3    1.6 Cr  ...  7,441 / sq ft           3       Ready to move
1      OWNER      2      48 L  ...  4,102 / sq ft           2  Under Construction
2      OWNER      3    28.6 L  ...  2,600 / sq ft           2  Under Construction
3      OWNER      1      20 L  ...  3,030 / sq ft           1       Ready to move
4      OWNER      3    3.5 Cr  ...  7,777 / sq ft           4       Ready to move
..       ...    ...       ...  ...            ...         ...                 ...
375  BUILDER      2   59.69 L  ...  4,700 / sq ft  Possession  Under Construction
376  BUILDER      3   87.65 L  ...  4,700 / sq ft  Possession  Under Construction
377  BUILDER      2   59.45 L  ...  4,700 / sq ft  Possession  Under Construction
378  BUILDER      3   85.14 L  ...  4,400 / sq ft  Possession  Under Construction
379  BUILDER      2   47.52 L  ...  4,400 / sq ft  Possession  Under Construction

[380 rows x 8 columns]

In [ ]:
data.to_csv('scarped_data.csv')